<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/bluma.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Green-bot - Rank card</title>

    <meta property="og:description" content="Green-bot est un bot Discord français Multis fonctions.">
    <meta name="twitter:image" content="<%= bot.displayAvatarURL() %>">
    <meta name="twitter:image" content="<%= bot.displayAvatarURL() %>g">
    <meta name="author" content="Pauldb09">
    <meta name="description" content="Green-bot est un bot Discord français Multis fonctions.">
    <meta property="og:type" content="website">
    <meta property=og:image content="https://cdn.discordapp.com/avatars/783708073390112830/f4aabacb3667ba1831d3ca5f7b2e486d.webp?size=512">
    <meta name="theme-color" content="#3A871F">
    <meta property="og:site_name" content="Créez le meilleur serveur Discord">
    <meta property="og:title" content="Green-bot">
    <meta property="og:image" content="<%= bot.displayAvatarURL() %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= bot.displayAvatarURL() %>">
    <link rel="stylesheet" href="/responsive/style.css">
    <script type="text/javascript" async="" src="/responsive/analytics.js"></script>
    <script type="text/javascript" async="" src="/responsive/js"></script>
    <script type="text/javascript" async="" src="/responsive/analytics.js"></script>
    <script defer="" src="/responsive/solid.js" integrity="sha384-8Lgyylu0vfTGCXDKe435hJgX8s96c19R+dvpH0NHKdX47GA7TmMj+BDiZZ76qqhT" crossorigin="anonymous" type="text/javascript"></script>
    <script defer="" src="/responsive/fontawesome.js" integrity="sha384-T6YzYwAGZAItTIkYlBzfwqa07o9R1AND3Lgt6Or6c5IdukY7tqShoryqwpKrpeIB" crossorigin="anonymous" type="text/javascript"></script>
    <link rel="stylesheet" href="/responsive/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async="" src="/responsive/js(1)" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-128851399-1');
    </script>
    <script src="./responsive/particles.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="./responsive/cookieconsent.min.css">
    <script src="./responsive/cookieconsent.min.js" type="text/javascript"></script>
    <script src="./responsive/sweetalert2@9" type="text/javascript"></script>
    <link href="./responsive/css2" rel="stylesheet">
    <script src="./responsive/jquery.min.js" type="text/javascript"></script>
    <style>

    </style>
</head>
<%
const pp = UserAvatar;
%>

    <body style="background-color: #2C2F33;">
        <div class="main">
            <div class="dashboard"><span class="listbot">
                <div class="bot-list">
                    <div id="783708073390112830" class="item">
                    <a href="/profile">
                        <div class="bot-item tts:right" aria-label="Profil">
                            <img class="icon-bot" data-id="783708073390112830" src="<%= pp %>" width="70px" height="70px">
                        </div>
                    </a>
                </div>
                <hr class="bot-hr">
              
                                <% guilds.forEach((guild) => { %>
                                    <% if (guild.icon) { %>
                                        <div id="783708073390112830" class="item">

                                            <a href="/server/<%= guild.id %>">
                                <div class="bot-item tts:right" aria-label="  <%= guild.name %>">
                                    <img class="icon-bot" data-id="783708073390112830" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048" width="70px" height="70px">
                            </a>
                        </div></div>
                                        <% } else { %>
                
                                            <div id="783708073390112830" class="item">
                                                <a href="/server/<%= guild.id %>">
                                    <div class="bot-item tts:right" aria-label="  <%= guild.name %>">
                                        <canvas class="icon-bot" id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>" width="70px" height="70px"></canvas>
                                        <script>
                                          function createIcone() {
                                            const nameAcronym = document.getElementById("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>").getContext('2d');
                                            nameAcronym.font = '30px Arial';
                                            nameAcronym.textAlign = "center";
                                            nameAcronym.fillStyle = "white";
                                            nameAcronym.fillText("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>",35, 45);
                                          };
                                          createIcone();
                                        </script>
                                    </div>
                                </a>
                            </div>
                
                                           
                                            <%}%>
                
                                                <%});%>
                        </div>
                    </span>
                <span class="leftmenu">
                <div class="menu">
                    <div class="menu-title">
                        <div style="vertical-align: middle;display: inline-block;">
                         


                            <img src="<%= pp %>" height="200px"width="200px" style=" border-radius: 50%;">
                                
                         <center>   <h5 style="font-size: 30px;">                                    <%= (is_logged ? `${user.username}` : 'Se connecter') %>
                         </h5></center></div>
                        <div id="menu-close" class="menu-close"><svg class="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></div>
                    </div>
                    <div class="menu-btn">
                        <a href="/profile">
                            <div class="btn-item ">
                                <svg class="icon-menu-item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                                </svg>
                                <span class="item-span">Profile</span></div>
            </a>

            <a href="/premium">
                <div class="btn-item">
                    <svg class="icon-menu-item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg> </svg>
                    <span class="item-span">Premium</span></div>
            </a>
            <hr style="background-color: #33343b !important;">
            <a href="auth/logout">
                <div class="btn-item">

                    <span class="item-span" style="color:rgb(163, 68, 68) !important;">Logout</span></div>
            </a>
            </a>
        </div>
        </div>
        </span><span class="rightmenu"><div class="tab-header"><div id="menu-phone" class="menu-phone"><svg class="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg></div><div class="page-name"><svg class="icon-tab" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg> <span class="item-span">Home</span></div>
        </div>
        <div class="page-content">

            <h3 style="font-size: 40px;">Rank card</h3>

            <p>You can edit here your rank card. Do green rank to see your rank card.</p>
            </center>
            <br> <br>
            <form role="form" id="formgen" action="/rank" method="POST">
                <canvas height="300" width="800" id="ranks">
                    <img id="source"
       src="<%=pp%>"
       width="300" height="227">

                </canvas>


                <div class="input-field">

                    <div class="input-field">
                        <div class="labele" style="text-align: left;">
                            <label style="margin-bottom: 5px;color: #b6bef1;">
                 Background
                    </label>
                        </div>

                        <input style="width: 500px !important;background-color: #2f3136 !important;" type="color" value="#<%=color%>" name="color">
                    </div>
                </div>
                <div class="input-field">

                    <div class="input-field">
                        <div class="labele" style="text-align: left;">
                            <label style="margin-bottom: 5px;color: #b6bef1;">
                  Xp bar
                    </label>
                        </div>

                        <input style="width: 500px !important;background-color: #2f3136 !important;" type="color" value="#<%=colorxp%>" name="colorxp">
                    </div>
                </div>
                <button type="submit" class="btn" id="form_BUTTON" style="color: rgba(27, 88, 34) !important;border-color: #ced4da !important;margin-left: inherit !important;" onclick="send();">Save changes</button>
        </div>
        </div>
        </span>
        </div>
        </div>
        <footer>
            <script>
                const canvas = document.getElementById('ranks');
                const ctx = canvas.getContext('2d');

                const level = 1;
                const xp = 30;
                const xpObjectif = 60;

                const xpBarre = Math.floor(xp / xpObjectif * 510);



                ctx.font = '30px "Zen Dots"';
                ctx.fillStyle = "#fff";
                ctx.textAlign = "center";
                ctx.fillText('<%=user.username%>', 175, 290);
                ctx.font = '25px "Zen Dots"';
                ctx.fillText(`#<%=user.discriminator %>`, 175, 320);

                ctx.beginPath();
                ctx.lineWidth = 1.5;
                ctx.fillStyle = "#fff";
                ctx.moveTo(270, 175);
                ctx.quadraticCurveTo(270, 155, 300, 155);
                ctx.lineTo(750, 155);
                ctx.quadraticCurveTo(780, 155, 780, 175);
                ctx.quadraticCurveTo(780, 195, 750, 195);
                ctx.lineTo(300, 195);
                ctx.quadraticCurveTo(270, 195, 270, 175);
                ctx.fill();
                ctx.stroke();
                ctx.closePath();

                ctx.beginPath();
                ctx.lineWidth = 1.5;
                ctx.fillStyle = "#<%=colorxp%>";
                ctx.moveTo(270, 175);
                ctx.quadraticCurveTo(270, 155, 300, 155);
                ctx.lineTo(270 + xpBarre - 30, 155);
                ctx.quadraticCurveTo(270 + xpBarre, 155, 270 + xpBarre, 175);
                ctx.quadraticCurveTo(270 + xpBarre, 195, 270 + xpBarre - 30, 195);
                ctx.lineTo(300, 195);
                ctx.quadraticCurveTo(270, 195, 270, 175);
                ctx.fill();
                ctx.stroke();
                ctx.closePath();

                ctx.font = '20px "Zen Dots"';
                ctx.fillStyle = "#fff";
                ctx.textAlign = "center";
                ctx.fillText(`${xp} / ${xpObjectif}`, 525, 220)

                ctx.font = '30px "Zen Dots"';
                ctx.fillStyle = "#fff";
                ctx.textAlign = "center";
                ctx.fillText(`Level ${level}`, 420, 290)

                ctx.font = '30px "Zen Dots"';
                ctx.fillStyle = "#fff";
                ctx.textAlign = "center";
                ctx.fillText(`Rank 1`, 630, 290)

                ctx.beginPath();
                ctx.fillStyle = "#<%=color%>";
                ctx.arc(175, 175, 80, 0, Math.PI * 2);
                ctx.fill();

                ctx.beginPath();
                ctx.arc(175, 175, 75, 0, Math.PI * 2);
                ctx.closePath();
                ctx.clip();
                const avatar = document.getElementById('source');

                ctx.drawImage(avatar, 100, 100, 150, 150);
            </script>
            <script type="text/javascript">
                $('#menu-phone').on('click', function() {
                    $('.listbot').addClass('on')
                    $('.leftmenu').addClass('on')
                    $('.rightmenu').addClass('off')
                })

                $('#menu-close').on('click', function() {
                    $('.listbot').removeClass('on')
                    $('.leftmenu').removeClass('on')
                    $('.rightmenu').removeClass('off')
                })
            </script>
            <script src="/responsive/jquery-3.3.1.min.js" type="text/javascript"></script>
            <script src="/responsive/jquery.ba-throttle-debounce.min.js" type="text/javascript"></script>
            <script src="/responsive/materialize.min.js" type="text/javascript"></script>
            <script src="/responsive/notyf.min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="./responsive/notyf.min.css">

            <script type="text/javascript">
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167774016-1');
            </script>

        </footer>
    </body>

</html>