<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Green-bot -
        <%= guild.name %>
    </title>

    <meta property="og:description" content="Green-bot est un bot Discord français Multis fonctions.">
    <meta name="twitter:image" content="<%= bot.displayAvatarURL() %>">
    <meta name="twitter:image" content="<%= bot.displayAvatarURL() %>g">
    <meta name="author" content="Pauldb09">
    <meta name="description" content="Green-bot est un bot Discord français Multis fonctions.">
    <meta property="og:type" content="website">
    <meta property=og:image content="https://cdn.discordapp.com/avatars/783708073390112830/f4aabacb3667ba1831d3ca5f7b2e486d.webp?size=512">
    <meta name="theme-color" content="#3A871F">
    <meta property="og:site_name" content="Créez le meilleur serveur Discord">
    <meta property="og:title" content="Green-bot">
    <meta property="og:image" content="<%= bot.displayAvatarURL() %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= bot.displayAvatarURL() %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="/css/cssdash.css" rel="stylesheet">
</head>
<%
const pp =  UserAvatar;
%>
    <style>
        .leftmenu {
            background-color: #2f3136 !important;
        }
    </style>

    <body style="background-color: #2f313e;">
        <div class="main">
            <div class="dashboard">
                <span class="guildlist">
                    <div class="bot-list">
                    
                    <div id="783708073390112830" class="item">
                        <a href="/profile">
            <div class="bot-item tts:right" aria-label="Profil">
                <img class="icon-bot" data-id="783708073390112830" src="<%= pp %>" width="70px" height="70px">
            </div>
        </a>
    </div>
                    <hr class="bot-hr">
              
                <% guilds.forEach((guild) => { %>
                    <% if (guild.icon) { %>
                        <div id="783708073390112830" class="item">
                            <a href="/server/<%= guild.id %>">
                <div class="bot-item tts:right" aria-label="  <%= guild.name %>">
                    <img class="icon-bot" data-id="783708073390112830" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=2048" width="70px" height="70px">
                </div>
            </a>
        </div>
                        <% } else { %>

                            <div id="783708073390112830" class="item">
                                <a href="/server/<%= guild.id %>">
                    <div class="bot-item tts:right" aria-label="  <%= guild.name %>">
                        <canvas class="icon-bot" id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>" width="70px" height="70px"></canvas>
                        <script>
                          function createIcone() {
                            const nameAcronym = document.getElementById("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>").getContext('2d');
                            nameAcronym.font = '30px Arial';
                            nameAcronym.textAlign = "center";
                            nameAcronym.fillStyle = "white";
                            nameAcronym.fillText("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>", 35, 45);
                          };
                          createIcone();
                        </script>
                    </div>
                </a>
            </div>

                           
                            <%}%>

                                <%});%>
                
  
                                <div class="item-leave">
                                    <div style="width: max-content;margin-left: auto;margin-right: auto;">
                                        <a href="/">
                                           </a></div></div></div></span>


                <span class="leftmenu">
                    <div class="menu">
                        <div class="nav-guild">
                        <div class="forms-guild">
                            <% if (guild.icon) { %>
                                <img src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png?size=128"    >
                            <% } else { %>
                                     <img src="https://cdn.discordapp.com/attachments/748897191879245834/782271474450825226/0.png?size=128"  >
                
                                <% } %>
                          <h4><%= guild.name %><br><br><%= guild.memberCount %> members</h4>
                        </div>
                      </div>
                <div class="menu-btn">
                    <a href="/server/<%=guild.id%>">
                        <div class="btn-item">
                           <span class="item-span">General</span></div>
            </a>
            <a href="/server/<%=guild.id%>/welcome">
                <div class="btn-item">
                    <span class="item-span">Welcome message</span></div>
            </a>
            <a href="/server/<%=guild.id%>/leave">
                <div class="btn-item">
                    <span class="item-span">Leave messages</span></div>
            </a>
            <a href="/server/<%=guild.id%>/channels">
                <div class="btn-item">
                    <span class="item-span">Specifics channels</span></div>
            </a>






            <a href="/server/<%=guild.id%>/autorole">
                <div class="btn-item">
                    <span class="item-span">Autorole</span></div>
            </a>

            <a href="/server/<%=guild.id%>/embed">
                <div class="btn-item  ">
                    <span class="item-span">Embed sender </span></div>
            </a>
            <a href="/server/<%=guild.id%>/moderation">
                <div class="btn-item  ">
                    <span class="item-span">Boost messages </span></div>
            </a>
            <a href="/server/<%=guild.id%>/responders/wiew">
                <div class="btn-item btn-item-active">
                    <span class="item-span">Auto responders 
                        

                            </span>
                </div>
            </a>

            <a href="/server/<%=guild.id%>/ping">
                <div class="btn-item  ">
                    <span class="item-span">Auto ping </span>
                </div>
            </a>

        </div>
        </div>
        </span>
        <span class="rightmenu">

    <div class="page-content">
  <div class="content">
    <div class="page-title"><h4>
        Auto responders</h4>
        </div>
    <% if(action === 'create'){ %>
        <a href="/server/<%=guild.id%>/responders/wiew"style="padding:.3rem .6rem!important;font-size: 0.8rem !important;background-color: #7289da  !important;" class="btn btn-primary">Go back</a>
      
             

        <form role="form" id="formgen" action="/server/<%= guild.id %>/responders/add" method="POST">
            <div class="input-field">
                <div class="labele" style="text-align: left;">
                    <label style="margin-bottom: 5px;color: #b6bef1;">
                      Trigger channel
                    </label>
                </div>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;color: #72767d;font-size:.825rem;line-height:20px;">It is this channel that will trigger the system. Select all to trigger the system in every channel</font>
                </font>
                <br>    <br>
                <div class="select-wrapper">
                      
                      
        
                    <svg class="caret" height="7" viewBox="0 0 7 7" width="7" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10l5 5 5-5z"></path>
                        <path d="M0 0h7v7H0z" fill="none"></path>
                    </svg>
                    <select name="trigger_channel" tabindex="-1">
                       
             <% guild.channels.filter(c => c.type === 'text').forEach(c => { %>
             <option value="<%= c.id %>" >#<%= c.name %></option>
             <% }); %>
             <option value="all" >All</option>

                    </select>
                </div>

            </div>
            <div class="input-field">
          <div class="labele" style="text-align: left;">
                        <label style="margin-bottom: 5px;color: #b6bef1;">
               Trigger message
                    </label>
                    </div>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;color: #72767d;font-size:.825rem;line-height:20px;">When the bot will see this message, he will send your message. Your can put every to trigger the system at every message</font>
                    </font>
                    <br> <br>
                    <textarea rows="3" maxlength="2000" style="color: #c7c7c7;min-height: 200px !important;"name="trigger_message"  id="bot_description-full" class="materialize-textarea"></textarea>
  
                </label>
            </div>
                 </div>
            <div class="input-field">
                <div class="labele" style="text-align: left;">
                              <label style="margin-bottom: 5px;color: #b6bef1;">
                        Answer message
                          </label>
                          </div>
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;color: #72767d;font-size:.825rem;line-height:20px;">it's this message that Green-bot will send in the current channel </font>
                          </font>
                          <br> <br>
                          <textarea rows="3" maxlength="2000" style="color: #c7c7c7;min-height: 200px !important;"name="answer_message"  id="bot_description-full" class="materialize-textarea"></textarea>
        
                    </div>
                  </div>
                  
                            
                            <div class="float-right">
                                    <button class="btn btn-primary" style="padding:.3rem .6rem!important;font-size: 0.8rem !important;background-color: #7289da  !important;"type="submit" onclick="send();">Save changes</button>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript">
                            function send() {
                           
                                document.getElementById('formgen').submit();
                                setTimeout(() => {
                
                                }, 3000)
                            }
                        </script>
                        <% } %>
                        <% if(action === 'edit'){ %>

                        <div id="edit-command-container" class="modal-container closed">
                            <div id="edit-command" class="modal">
                            <div class="modal-header">
                                    <h1>Edit command</h1>
                                    <button class="close-btn">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Command name</label>
                                            <input id="name" class="form-input" value="y("></div><div class="form-group">
                                                <label for="response">Command response</label><textarea id="response" class="form-input" maxlength="1800">hy</textarea>
                                            </div><div class="float-right"><button class="btn btn-primary" type="submit">Update command</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
            
                       <% if(wiew !== null){ %>
                        <center>    <div class="page-title"><h3 style="color: #fff !important;">
                            Auto responders</h3>
                            </div>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;color: #72767d;font-size:.925rem;line-height:20px;">Create triggers easyly with Green-Bot! </font>
                            </font>  <a href="/server/<%=guild.id%>/responders/create"> <button class="btn btn-primary  ml-5" style="padding:.3rem .6rem!important;font-size: 0.8rem !important;background-color: #7289da  !important;">Create a new trigger </button></a>  </center> 
          

                </div>

                    <table>
                        <thead  style="color: aliceblue !important;"> 
                            <tr>
                                <th style="color: aliceblue !important;">Trigger</th>
                                <th style="color: aliceblue !important;">Channel</th>
                                <th style="color: aliceblue !important;">Message</th>

                                <th style="color: aliceblue !important;">Actions</th>
                            </tr>
                        </thead>
                        <tbody  style="color: aliceblue !important;">
                            <% if(membersLeaderboard.lenght === 0){ %>
                             
                               
                                <% }else{ %>
                            <% membersLeaderboard.forEach(command => { %>
                                <tr>
                                    <td  style="color: aliceblue !important;"><%= command.message_reaction %></td>
                                    <td class="cmd-response"  style="color: aliceblue !important;"> <%= command.channelID === "all" ? "Every channel":guild.channels.find((r) => r.id === command.channelID) ? guild.channels.find((r) => r.id === command.channelID).name : "Channel deleted" %></td>
                                    <td><%= command.message %></td>

                                    <td class="table-actions">   <a href="/server/<%=guild.id%>/responders/del/<%= command._id %>"> <button class="bouton">Delete</button></a> </td>

                                </tr>
                               
                                <% }); %>
                                <% } %>

                                </tbody></table></div>
                                <% } %>

        </div>
        </div>
        </script>
        <script src="/dash/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="/dash/jquery.ba-throttle-debounce.min.js" type="text/javascript"></script>
        <script src="/dash/materialize.min.js" type="text/javascript"></script>
        <script src="/dash/notyf.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/dash/notyf.min.css">
        <script>
            $(document).ready(() => {
                $('select').formSelect();

                const sortSelect = $('#sortSelect');
                const orderSelect = $('#orderSelect');

                if (!sortSelect || !orderSelect) return;

                const selects = [sortSelect, orderSelect];

                selects.forEach(s => {
                    s.change(() => {
                        window.location = s.find('option:selected').val();
                    });
                });
            });
        </script>
        <div style="display: none;" class="active-bot-here" id="783708073390112830"></div>
        <script type="text/javascript">
            function send() {
                const alert = document.getElementById('pop');
                alert.innerHTML = `<h2>Enregistré avec succès</h2>`;
                alert.setAttribute('class', 'alert success');
                document.getElementById('formgen').submit();
                setTimeout(() => {

                }, 3000)
            }
        </script>
        <footer>
            <style>
                .bouton{
                    padding: .5rem .8rem;
                color: #fff;
                text-decoration: none;
                border-radius: var(--main-br);
                background: var(--secondary);
                transition: .2s;
                font-size: 1.1rem;
                border: none;
                cursor: pointer;
                background: var(--red);
                color: #111;
                font-weight: 600;
                transition: filter .2s;
                padding: .4rem .5rem!important;
                margin-right: .5rem;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
               
            }    
            .aaa{
                padding: .5rem .8rem;
                color: #fff;
                text-decoration: none;
                border-radius: var(--main-br);
                background: var(--secondary);
                transition: .2s;
                font-size: 1.1rem;
                border: none;
                cursor: pointer;
                margin-right: .5rem;
                padding: .4rem .5rem!important;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
               
                border-spacing: 2px;
            }
            *, :after, :before {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: Assistant,sans-serif;
            }
            </style>
                    <div style="display: none;" class="active-bot-here" id="783708073390112830"></div>
                    <script type="text/javascript">
                        function send() {
                            const alert = document.getElementById('pop');
                            alert.innerHTML = `<h2>Enregistré avec succès</h2>`;
                            alert.setAttribute('class', 'alert success');
                            document.getElementById('formgen').submit();
                            setTimeout(() => {
            
                            }, 3000)
                        }
                    </script>
                    <footer>
                        <style>
                             :root {
                                --primary: #2f3136;
                                --secondary: #36393f;
                                --dark: #18191c;
                                --blue: #7289da;
                                --red: #e44444;
                                --main-br: 0.3rem;
                                font-family: "Roboto", sans-serif;
                            }
                            
                            *,
                             :after,
                             :before {
                                padding: 0;
                                margin: 0;
                                box-sizing: border-box;
                                font-family: Assistant, sans-serif
                            }
                            
                            body {
                                background: var(--primary);
                                color: #fff
                            }
                            
                            textarea {
                                min-height: 150px
                            }
                            
                            input:focus,
                            select:focus,
                            textarea:focus {
                                outline: none
                            }
                            
                            .container {
                                min-height: calc(100vh - 11rem);
                                margin: 1.5rem 0;
                                width: 100%;
                                display: flex;
                            }
                            
                            .page-title {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: #fff;
                                margin-bottom: 1.5rem
                            }
                            
                            .page-title h4 {
                                margin-bottom: .7rem;
                                font-size: 1.5rem;
                                font-weight: 400
                            }
                            
                            .grid {
                                display: grid;
                                grid-gap: 1rem;
                                gap: 1rem;
                                grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr))
                            }
                            
                            .col-2 {
                                grid-template-columns: 100%
                            }
                            
                            .form-group {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 15px
                            }
                            
                            .form-label {
                                margin-bottom: 5px;
                                font-size: 1.1rem
                            }
                            
                            .form-input {
                                padding: .5rem 8px;
                                font-size: 1.1rem;
                                color: #fff;
                                background: var(--secondary);
                                border: 1px solid var(--dark);
                                border-radius: var(--main-br);
                                resize: vertical;
                                transition: border .2s
                            }
                            
                            .form-input:focus {
                                border-color: var(--blue)
                            }
                            
                            .alert-message {
                                padding: 1rem;
                                border-radius: var(--main-br);
                                color: #fff;
                                background: var(--blue);
                                font-size: 1.2rem;
                                margin-bottom: 1.5rem;
                                display: flex;
                                align-items: center
                            }
                            
                            .alert-message svg {
                                margin-right: .8rem;
                                min-width: 1.5rem;
                                width: 1.5rem;
                                height: 1.5rem
                            }
                            
                            .alert-success {
                                background: #d4edda;
                                color: var(--secondary)
                            }
                            
                            .alert-warning {
                                background: #fff3cd;
                                color: var(--secondary)
                            }
                            
                            .alert-error {
                                background: #dc3545;
                                color: #fff
                            }
                            
                            .loader {
                                border-top: 4px solid var(--secondary);
                                border: 4px solid var(--secondary);
                                border-top-color: var(--blue);
                                border-radius: 50%;
                                width: 60px;
                                height: 60px;
                                animation: spin .8s linear infinite
                            }
                            
                            .full {
                                z-index: 100;
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: var(--primary);
                                display: flex;
                                align-items: center;
                                justify-content: center
                            }
                            
                            .sr-only {
                                position: absolute;
                                width: 1px;
                                height: 1px;
                                padding: 0;
                                margin: -1px;
                                overflow: hidden;
                                clip: rect(0, 0, 0, 0);
                                border: 0
                            }
                            
                            table {
                                border: 1px solid var(--secondary);
                                border-collapse: collapse;
                                width: 100%
                            }
                            
                            th {
                                background: var(--secondary)
                            }
                            
                            td,
                            th {
                                border: .1rem solid #2f3136;
                                padding: .5rem;
                                text-align: left
                            }
                            
                            .cmd-response {
                                width: 60%
                            }
                            
                            .table-actions {
                                width: 20%
                            }
                            
                            .table-actions .btn:nth-child(n+1) {
                                margin-right: .5rem
                            }
                            
                            .float-right {
                                float: right;
                                padding-bottom: 1rem
                            }
                            
                            .danger-zone-title {
                                font-size: 1.5rem;
                                font-weight: 500;
                                margin-bottom: 1rem
                            }
                            
                            .mt-5 {
                                margin-top: .5rem
                            }
                            
                            .ml-5 {
                                margin-left: .5rem
                            }
                            
                            .settings-group {
                                padding: 1rem;
                                border-radius: var(--main-br);
                                background: var(--secondary)
                            }
                            
                            .group-header {
                                margin-bottom: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between
                            }
                            
                            .group-title {
                                font-size: 1.4rem;
                                color: #fff;
                                font-weight: 600
                            }
                            
                            .settings-grid {
                                grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr))
                            }
                            
                            .card {
                                background: var(--secondary);
                                padding: .5rem;
                                color: #fff;
                                text-decoration: none;
                                border-radius: var(--main-br);
                                transition: .25s
                            }
                            
                            .guild-card {
                                display: flex;
                                align-items: center
                            }
                            
                            .guild-card-img {
                                width: 65px;
                                height: 65px;
                                border-radius: var(--main-br);
                                background-color: var(--primary)
                            }
                            
                            .guild-card p {
                                margin-left: .5rem
                            }
                            
                            .cmd-card {
                                display: flex;
                                align-items: center;
                                justify-content: space-between
                            }
                            
                            .cmd-card p {
                                font-size: 1.1rem
                            }
                            
                            .disabled {
                                position: relative;
                                cursor: not-allowed
                            }
                            
                            .disabled:after {
                                padding: .5rem;
                                border-radius: var(--main-br);
                                content: attr(aria-label);
                                position: absolute;
                                opacity: 0;
                                bottom: 110%;
                                left: 0;
                                background: var(--secondary);
                                box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
                                transition: .25s;
                                pointer-events: none
                            }
                            
                            .disabled:focus:after,
                            .disabled:hover:after {
                                opacity: 1
                            }
                            
                            .guild-card:focus {
                                background: var(--blue);
                                outline: none
                            }
                            
                            .btn {
                                padding: .5rem .8rem;
                                color: #fff;
                                text-decoration: none;
                                border-radius: var(--main-br);
                                background: #2ecc71;
                                transition: .2s;
                                font-size: 1.1rem;
                                border: none;
                                cursor: pointer
                            }
                            
                            .btn-sm {
                                padding: .4rem .5rem!important
                            }
                            
                            .btn-red {
                                background: var(--red);
                                color: #111;
                                font-weight: 600;
                                transition: filter .2s
                            }
                            
                            .btn-secondary {
                                background: var(--primary)
                            }
                            
                            .btn-primary:focus,
                            .btn-secondary:focus {
                                background: var(--blue);
                                outline: none
                            }
                        </style>

        </footer>

    </body>

</html>